doctype html
html(lang="en")
  head
    title timestamp
  body
    h1 Unix timestamp page
    h3 Input a natural date or unix timestamp into the address bar.
      p Example urls: 
        li https://nameless-beyond-20992.herokuapp.com/time:December%2015,%202015
        li https://nameless-beyond-20992.herokuapp.com/time:1450137600
      p Example output:
        li { "unix": 1450137600, "natural": "December 15, 2015" }